body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

div {
	border: 2px solid black;
	padding: 2px;
	width: 50%;
	height: auto;
}

div > img {
	width: 100%;
}
