body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

pre {
  white-space: pre-wrap;
  background-color: #EEEEEE;
  padding: 16px;
}

pre code {
  word-break: break-word;
}

.is-invisible {
  opacity: 0;
}

.subscription-details {
	padding: 0 20%;
  transition: opacity 1s;
}
